@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

.navbar{
	position: fixed;
	width: 100%;
	background: #00203F;
	z-index: 1;
}

div.topbar {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
}


.navbar li a{
	color: #fff;
	margin-right: 20px;
	transition: 0.3s ease-in-out 0s;
}

.navbar li a:hover{
	color: #F0810F;
	font-size: 18px;
}

.navbar i{
	margin-right: 10px;
}

.fa-bars{
	font-size: 30px;
	color: #fff;
	margin: 0;
	cursor: pointer;
	transition: all 0.2s ease 0s;
}

.fa-bars:hover{
	color: #F0810F;
	font-size: 32px;
}

.sidebar__menu{
	position: fixed;
	width: 260px;
	height: 100%;
	left: 0px;
	z-index: 1;
	background: #232C43;
	transition: 0.5s;
	top: 61px;
}

.sidebar ul a{
	display: block;
	text-decoration: none;
	height: 100%;
	width: 100%;
	line-height: 60px;
	font-size: 16px;
	font-weight: 100;
	padding-left: 18px;
	color: #fff; 
	transition: all 0.3s ease 0s;
}

.sidebar li.active a{
	font-size: 18px;
	background: #586FA8;
	font-weight: 300;
}

.sidebar ul a:hover{
	font-size: 18px;
	background: #586FA8;
	padding-left: 30px;
}

.sidebar ul li i{
	margin-right: 15px;
}

.sidebar__menu.active{
	left: -260px;
	transition: 0.5s;
}

#header-title{
	font-size: 42px;
	padding-top: 90px;
	margin-left: 30px;
	font-weight: 100;
	transition: all 0.3s ease 0s;
}

#firstcard{
	width: 45%;
	height: 400px;
	margin-left: 45px;
	top: 40px;
	transition: all 0.3s ease 0s;
}

.card-title{
	font-weight: 300;
}


#secondcard{
	width: 45%;
	height: 400px;
	margin-left: 10px;
	top: 40px;
	transition: all 0.3s ease 0s;
}

#myPieChart{
	margin-top: 50px;
	width: 100%;
	transition: all 0.3s ease 0s;
}

#myBarChart{
	margin-top: 50px;
	width: 100%;
	transition: all 0.3s ease 0s;
}

.row #thirdcard .card-body{
	padding: 0;
}

#thirdcard{
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 30px 50px;
	transition: all 0.3s ease 0s;
}

.addBtn a{
	text-decoration: none;
	padding: 6px;
	display: inline-block;
	height: 100%;
	color: #fff;
	background: #232C43;
	border-radius: 5px;
	transition: all 0.5s ease-in-out 0s;
}

.addBtn{
	margin-top: 60px;
	margin-left: 50px;
}

.addBtn a:hover{
	color: #F0810F;
}

.searchGroup{
	margin-top: 60px;
	margin-left: 675px;
}

#searchBar{
	padding: 7px;
	height: 35px;
}

.searchGroup a i{
	position: absolute;
	text-decoration: none;
	text-align: center;
	font-size: 28px;
	padding-top: 3px;
	color: #fff;
	width: 40px;
	height: 35px;
	background: #232C43;
	transition: all 0.3s ease-in-out 0s;
}



.searchGroup a i:hover{
	font-size: 30px;
	color: #F0810F;
}

.row .card-borderless .card-body .table i{
	color: #000;
	padding: 0 10px;
	transition: all 0.3s ease-in-out 0s;
}

.row .card-borderless .card-body .table i:hover{
	font-size: 14px;
}

.row #fourthcard .card-body{
	padding: 0;
}

#fourthcard{
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 30px 50px;
	transition: all 0.3s ease 0s;
}

.center .container{
	z-index: 1;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center .container .close-btn{
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: 18px;
	cursor: pointer;
}

.center .container img{
	margin-left: 150px;
}

.center .container{
	background: #fff;
	width: 410px;
	padding: 30px;
	box-shadow: 0 0 50px rgba(0,0,0,5);
}

.center .container .text{
	font-size: 30px;
	font-weight: 100;
	text-align: center;
}

.center .container form{
	margin-top: -20px;
}

.center .container form .data{
	height: 45px;
	width: 100%;
	margin: 40px 0;
}

.center .container form .data label{
	font-size: 18px;
	padding-left: 10px;
}

.center .container form .data input{
	height: 100%;
	width: 100%;
	padding-left: 10px;
	font-size: 17px;
	border: 1px solid silver;
}

.center .container form .data input:focus{
border-color: #3498db;
border-bottom-width: 2px;
}


.center .container form .btn{
	margin: 20px 0;
	height: 45px;
	width: 100%;
}

.center .container form .btn #confirm{
	background: #56AB2F;
	padding: 10px;
	width: 100%;
	color: #fff;
	border-radius: 5px;
	transition: all 0.2s ease-in-out 0s;
}

.center .container form .btn #confirm:hover{
	font-size: 18px;
}

@media (max-width: 1199px){
#header-title{
	text-align: center;
	padding-left: 0;
	font-size: 36px;
	font-weight: 100;
}

#firstcard{
	text-align: center;
	width: 80%;
	height: 420px;
	margin: 0 100px;
	top: 20px;
}

#secondcard{
	text-align: center;
	width: 80%;
	height: 420px;
	margin: 20px 100px;
	top: 20px;
}

#myPieChart{
	margin-top: 5px;
	width: 100%;
}

#myBarChart{
	margin-top: 5px;
	width: 100%;
}

#thirdcard{
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 30px 0;
	transition: all 0.3s ease 0s;
}

.addBtn{
	margin-left: 0;
}

.searchGroup{
	margin-left: 595px;
}

#fourthcard{
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 30px 0;
	transition: all 0.3s ease 0s;
}

}

@media (max-width: 985px){
#header-title{
	text-align: center;
	padding-left: 0;
	font-size: 24px;
	font-weight: 300;
}

#firstcard{
	text-align: center;
	width: 100%;
	height: 400px;
	margin-left: 50px;
	margin-right: 50px;
	top: 20px;
}

#secondcard{
	text-align: center;
	width: 100%;
	height: 400px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#myPieChart{
	margin-top: 5px;
	width: 100%;
}

#myBarChart{
	margin-top: 5px;
	width: 100%;
}

#thirdcard{
	width: 100%;
	height: 100%;
	padding: 0;
	transition: all 0.3s ease 0s;
}

.addBtn{
	margin-left: 0;
}

.searchGroup{
	margin-left: 350px;
}

#fourthcard{
	width: 100%;
	height: 100%;
	padding: 0;
	transition: all 0.3s ease 0s;
}

}


@media (max-width: 797px){
.sidebar__menu{
	width: 100%;
	height: 100%;
	background: #232C43;	
	transition: 0.5s;
	text-align: center;
	z-index: 1;
}

.sidebar__menu.active{
	left: -100%;
	transition: 0.5s;
}

.sidebar ul a:hover{
	font-size: 20px;
	background: #586FA8;
}

.sidebar i{
	display: none;
}

#header-title{
	text-align: center;
	font-size: 24px;
	font-weight: 300;
}

#firstcard{
	text-align: center;
	width: 100%;
	height: 400px;
	top: 20px;
}

#secondcard{
	text-align: center;
	width: 100%;
	height: 400px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#myPieChart{
	margin-top: 5px;
	width: 100%;
}

#myBarChart{
	margin-top: 5px;
	width: 100%;
}

#thirdcard{
	width: 100%;
	height: 100%;
	padding: 0;
	margin-left: 20px;
	margin-right: 20px;
	transition: all 0.3s ease 0s;
}

.addBtn{
	margin-left: 20px;
}

.searchGroup{
	margin-left: 310px;
}

#fourthcard{
	width: 100%;
	height: 100%;
	padding: 0;
	margin-left: 20px;
	margin-right: 20px;
	transition: all 0.3s ease 0s;
}
}

@media (max-width: 772px){
.sidebar__menu{
	width: 100%;
	height: 100%;
	background: #232C43;	
	transition: 0.5s;
	text-align: center;
	z-index: 1;
}

.sidebar__menu.active{
	left: -100%;
	transition: 0.5s;
}

.sidebar ul a:hover{
	font-size: 20px;
	background: #586FA8;
}

.sidebar i{
	display: none;
}

#header-title{
	text-align: center;
	font-size: 24px;
	font-weight: 300;
}

#firstcard{
	text-align: center;
	width: 100%;
	height: 300px;
	top: 20px;
}

#secondcard{
	text-align: center;
	width: 100%;
	height: 300px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#myPieChart{
	margin-top: 5px;
	width: 100%;
}

#myBarChart{
	margin-top: 5px;
	width: 100%;
}

#thirdcard{
	width: 100%;
	height: 100%;
	padding: 0;
	margin-left: -10px;
	transition: all 0.3s ease 0s;
}

.addBtn{
	margin-left: -5px;
}

.searchGroup{
	margin-left: 193px;
}

#fourthcard{
	width: 100%;
	height: 100%;
	padding: 0;
	margin-left: -10px;
	transition: all 0.3s ease 0s;
}
}

@media (max-width: 555px){
.sidebar__menu{
	width: 100%;
	height: 100%;
	background: #232C43;	
	transition: 0.5s;
	text-align: center;
	z-index: 1;
}

.sidebar__menu.active{
	left: -100%;
	transition: 0.5s;
}

.sidebar ul a:hover{
	font-size: 20px;
	background: #586FA8;
}

.sidebar i{
	display: none;
}

#header-title{
	text-align: center;
	font-size: 24px;
	font-weight: 300;
}

#firstcard{
	text-align: center;
	width: 100%;
	height: 280px;
	top: 20px;
}

#secondcard{
	text-align: center;
	width: 100%;
	height: 280px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#myPieChart{
	margin-top: 5px;
	width: 100%;
}

#myBarChart{
	margin-top: 5px;
	width: 100%;
}
#thirdcard{
	width: 440px;
	height: 100%;
	padding: 0;
	margin-left: 20px;
	transition: all 0.3s ease 0s;
}

.row #thirdcard .card-body{
	overflow-y: hidden;	
}

.addBtn{
	margin-left: 20px;
}

.searchGroup{
	margin-left: 75px;
}

#fourthcard{
	width: 440px;
	height: 100%;
	padding: 0;
	margin-left: 20px;
	transition: all 0.3s ease 0s;
}

.row .card-borderless .card-body .table{
	font-size: 11px;
}
}