<template>
        <div class="container">
            <h1 id="header-title">Dashboard</h1>
            <div class="row">
                <div class="card" id="firstcard">
                    <div class="card-body">
                        <h5 class="card-title">Monthly Record</h5>
                        <canvas id="myBarChart"></canvas>
                    </div>
                </div>
                <div class="card" id="secondcard">
                    <div class="card-body">
                        <h5 class="card-title">Popular Books Genre</h5>
                        <canvas id="myPieChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
    import Chart from 'chart.js'
    
    export default {
     
        name: "Dashboard",
        mounted() {
            var ctx = document.getElementById('myBarChart').getContext('2d');
            new Chart(ctx, {
                type: 'bar',

                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    datasets: [{
                        label: 'Borrowed Books',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [0, 10, 5, 2, 20, 30, 85]
                    }, {
                        label: 'Returned Books',
                        backgroundColor: 'rgb(23, 104, 137)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [45, 30, 20, 2, 5, 10, 0],
                    }]
                },
            });

            var pie = document.getElementById('myPieChart').getContext('2d');
            new Chart(pie, {
                type: 'pie',
                data: {
                    labels: ['Science', 'Programming', 'History', 'Geography', 'Manga', 'Romance'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 3
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    }
</script>
<style>
@import "../../assets/css/style.css";
</style>