<template>
    <div id="app">
        <TopNavigationBar />
        <SideNavigationBar />
        <router-view />
    </div>
</template>

<script>
import TopNavigationBar from '@/components/navigations/TopNavigationBar.vue'
import SideNavigationBar from '@/components/navigations/SideNavigationBar.vue'
export default {
  name: 'App',
  components: {
    TopNavigationBar,
    SideNavigationBar
  }
}
</script>

<style>
@import "./assets/css/style.css";
</style>
