<template>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar__menu">
                <ul class="sidenav__link">
                    <li><router-link tag="a" to="/"><i class="fas fa-chart-pie"></i>Dashboard</router-link></li>
                    <li ><router-link tag="a" to="/patrons"><i class="fas fa-users"></i>Patron Management</router-link></li>
                    <li ><router-link tag="a" to="/books"><i class="fas fa-book"></i>Books Management</router-link></li>
                    <li ><router-link tag="a" to="/settings"><i class="fas fa-cogs"></i>Settings</router-link></li>
                </ul>
            </div>
        </div>
    </div> 
</template>
<script>
    import '@/router/index.js'
    export default {
        name: "SideNavigationBar"
    }      
</script>
<style>
    @import "../../assets/css/style.css";
</style>