<template>
  <nav class="navbar sticky-top navbar-expand-lg">
    <i class="fas fa-bars" v-on:click="toggleMenu"></i>
    <img src="../../assets/img/logo.png" style="width: 200px; height: 45px" />
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fas fa-sign-out-alt"></i>Logout</a
          >
        </li>
      </ul>
    </div>
  </nav>
</template>
<script>
export default {
  name: "TopNavigationBar",
  methods: {
    toggleMenu() {
      let center = document.querySelector(".sidebar__menu");
      center.classList.toggle("active");
    },
  },
};
</script>
<style>
@import "../../assets/css/style.css";
</style>