<template>
    <div class="container">
        <h1 id="header-title">Patron Management</h1>
        <div class="center">
            <div class="container" id="modal">
                <label class="close-btn fas fa-times" onclick="document.getElementById('modal').style.display='none';" id="close" title="Close Pop Up"></label>
                <div class="text">
                    Add Patron
                </div>
                <form>
                    <div class="data">
                        <label>First Name</label>
                        <input type="text" v-model="patron.first_name" placeholder="First Name" required>
                    </div>
                    <div class="data">
                        <label>Middle Name</label>
                        <input type="text" v-model="patron.middle_name" placeholder="Middle Name" required>
                    </div>
                    <div class="data">
                        <label>Last Name</label>
                        <input type="text" v-model="patron.last_name" placeholder="Last Name" required>
                    </div>
                    <div class="data">
                        <label>Email Address</label>
                        <input type="text" v-model="patron.email" placeholder="Enter email" required>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-success" @click.prevent="addPatron">Add</button>
                    </div>
                </form>
            </div>
            <div class="container" id="editmodal">
                <label class="close-btn fas fa-times" onclick="document.getElementById('editmodal').style.display='none';" id="close" title="Close Pop Up"></label>
                <div class="text">
                    Edit Patron
                </div>
                <form>
                    <div class="data">
                        <label>First Name</label>
                        <input type="text" v-model="patron.first_name" placeholder="First Name" required>
                    </div>
                    <div class="data">
                        <label>Middle Name</label>
                        <input type="text" v-model="patron.middle_name" placeholder="Middle Name" required>
                    </div>
                    <div class="data">
                        <label>Last Name</label>
                        <input type="text" v-model="patron.last_name" placeholder="Last Name" required>
                    </div>
                    <div class="data">
                        <label>Email Address</label>
                        <input type="text" v-model="patron.email" placeholder="Enter email" required>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-success" v-on:click="patronUpdate">Update</button>
                    </div>
                     <div class="col-lg-6">
                        <button type="button" class="btn btn-outline-danger" onclick="document.getElementById('editmodal').style.display='none';">Cancel</button>
                    </div>
                </form>  
            </div>
        </div>
        <div class="row">
                <div class="addBtn">
                    <a href="#" onclick="document.getElementById('modal').style.display='block';">
                        <span>
                            <i class="fas fa-user-plus"></i>
                        </span>
                        Add Patron
                    </a>
                </div>
                <div class="searchGroup">
                    <input id="searchBar" type="text" placeholder="Search">
                    <a href="#">
                        <span>
                            <i class="fas fa-search"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="card-borderless" id="thirdcard">
                    <div class="card-body">
                        <table class="table table-hover table-bordered text-center table-responsive-sm">
                            <thead class="table-borderless" style="background: #232C43; color: #fff;">
                                <tr>
                                    <th scope="col">Index</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email Address</th>
                                    <th id="date-registered" scope="col">Date Registered</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="card-data">
                                <tr v-for="(patron, index) in patrons" :key="index">
                                    <td>{{index}}</td>
                                    <td>{{patron.first_name + ' ' + patron.middle_name + ' ' + patron.last_name}}</td>
                                    <td>{{patron.email}}</td>
                                    <td>{{patron.created_at}}</td>
                                    <td>
                                        <a href="#"><i class="fas fa-user-edit" v-on:click="edit(patron)"></i></a>
                                        <a href="#" v-on:click="deletePatron(patron.id)"><i class="fas fa-user-times" style="color: red;"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "PatronManagement",
  data() {
    return {
      patron: {
          first_name: '',
          middle_name: '',
          last_name: '',
          email: '',
      },
      search: ''
    };
  },
  methods: {
     ...mapActions("patrons", {
      allPatrons: "fetchPatrons",
      create: "createPatron",
      update: "updatePatron",
      delete: "deletePatron",
    }),   
    addPatron: function () {
        this.create(this.patron);
        document.getElementById('modal').style.display='none';
    },
    edit: function (patron) {
      document.getElementById("editmodal").style.display = "block";
      this.patron = {...patron}
    },
    patronUpdate(){
        this.update(this.patron)
        document.getElementById('editmodal').style.display='none';
    },
    deletePatron: function (index) {
      if (confirm("Are you sure you want to delete this person?")) {
        this.delete(index)
      }
    },
  },
  computed: {
    ...mapGetters({
      patrons: "patrons/getPatrons",
    }),
  },
  created() {
    this.allPatrons();
  },
};
</script>
<style>
@import "../../assets/css/style.css";
</style>