@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');











/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;

}

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[class*="col-"] {
    padding: 1rem;
}

h1 {
  margin-top: 40px;
  font-family: Emilys Candy, cursive;
}

a.btnShopNow {
background-color: #32CD32;
border-radius: 3px;
padding: 6px;
color: #ffff;
}

a.btnViewDetails {
background-color: #32CD32;
border-radius: 3px;
padding: 6px;
color: #ffff;
}

a.btnEmail {
background-color: #20B2AA;
border-radius: 3px;
padding: 6px;
color: #ffff;
}

a.btnDiscover {
  background-color: #20B2AA;
border-radius: 3px;
padding: 6px;
color: #ffff;

}

h2.txt {
  margin-top: 170px;
}

a{
  color: #ffff;
}

footer {
  background-color: #000000;
  color: #ffff;
}