﻿<template>
  <div class="container">
    <h1 id="header-title">Book Management</h1>
    <div class="center">
      <div class="container" id="editmodal">
        <label
          class="close-btn fas fa-times"
          onclick="document.getElementById('editmodal').style.display='none';"
          title="Close Pop Up"
        ></label>
        <div class="text">Update Book</div>
        <form>
          <div class="data">
            <label>Book Name</label>
            <input
              type="text"
              v-model="book.name"
              placeholder="Book name"
              required
            />
          </div>
          <div class="data">
            <label>Author</label>
            <input
              type="text"
              v-model="book.author"
              placeholder="Author name"
              required
            />
          </div>
          <div class="data">
            <label>Copies</label>
            <input
              type="number"
              v-model="book.copies"
              placeholder="Quantity"
              required
            />
          </div>
          <div class="data">
            <label>Category</label>
            <select
              class="form-control border-dark"
              id="category"
              v-model="book.category_id"
            >
              <option disabled>-- select a category --</option>
              <option
                v-for="category in categories"
                :key="category.id"
                :value="category.id"
              >
                {{ category.category }}
              </option>
            </select>
          </div>
          <div class="btn">
            <button class="btn btn-outline-success" v-on:click="updateBook">
              Add
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="center">
      <div class="container" id="modal">
        <label
          class="close-btn fas fa-times"
          onclick="document.getElementById('modal').style.display='none';"
          title="Close Pop Up"
        ></label>
        <div class="text">Add Books</div>
        <form>
          <div class="data">
            <label>Book Name</label>
            <input
              type="text"
              v-model="book.name"
              placeholder="Book name"
              required
            />
          </div>
          <div class="data">
            <label>Author</label>
            <input
              type="text"
              v-model="book.author"
              placeholder="Author name"
              required
            />
          </div>
          <div class="data">
            <label>Copies</label>
            <input
              type="number"
              v-model="book.copies"
              placeholder="Quantity"
              required
            />
          </div>
          <div class="data">
            <label>Category</label>
            <select
              class="form-control border-dark"
              id="category"
              v-model="book.category_id"
            >
              <option disabled>-- select a category --</option>
              <option
                v-for="category in categories"
                :key="category.id"
                :value="category.id"
              >
                {{ category.category }}
              </option>
            </select>
          </div>
          <div class="btn">
            <button class="btn btn-outline-success" v-on:click="addBook">
              Add
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="center">
      <div class="container" id="returnmodal">
        <label
          class="close-btn fas fa-times"
          onclick="document.getElementById('returnmodal').style.display='none';"
          title="Close Pop Up"
        ></label>
        <div class="text">Return Book</div>
        <form>
          <div class="data">
            <label>Copies</label>
            <input
              type="number"
              v-model="bookReturned.copies"
              placeholder="Copies"
              required
            />
          </div>
          <div class="data">
            <label>Patron</label>
            <select
              class="form-control border-dark"
              id="patron"
              v-model="bookReturned.patron_id"
            >
              <option disabled>-- select patron --</option>
              <option
                v-for="patron in patrons"
                :key="patron.id"
                :value="patron.id"
              >
                {{ patron.first_name + ' ' + patron.middle_name + ' ' + patron.last_name }}
              </option>
            </select>
          </div>
          <div class="btn">
            <button class="btn btn-outline-success" v-on:click.prevent="returnBook">
              Borrow Book
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="center">
      <div class="container" id="borrowmodal">
        <label
          class="close-btn fas fa-times"
          onclick="document.getElementById('borrowmodal').style.display='none';"
          title="Close Pop Up"
        ></label>
        <div class="text">Borrow Book</div>
        <form>
          <div class="data">
            <label>Copies</label>
            <input
              type="number"
              v-model="bookBorrowed.copies"
              placeholder="Copies"
              required
            />
          </div>
          <div class="data">
            <label>Patron</label>
            <select
              class="form-control border-dark"
              id="patron"
              v-model="bookBorrowed.patron_id"
            >
              <option disabled>-- select patron --</option>
              <option
                v-for="patron in patrons"
                :key="patron.id"
                :value="patron.id"
              >
                {{ patron.first_name + ' ' + patron.middle_name + ' ' + patron.last_name }}
              </option>
            </select>
          </div>
          <div class="btn">
            <button class="btn btn-outline-success" v-on:click.prevent="borrowBook">
              Borrow Book
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="addBtn">
        <a
          href="#"
          onclick="document.getElementById('modal').style.display='block';"
        >
          <span>
            <i class="fas fa-plus-circle"></i>
          </span>
          Add Books
        </a>
      </div>
      <div class="searchGroup">
        <input id="searchBar" type="text" placeholder="Search" />
        <a href="#">
          <span>
            <i class="fas fa-search"></i>
          </span>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="card-borderless" id="fourthcard">
        <div class="card-body">
          <table
            class="table table-hover table-bordered text-center table-responsive-sm"
          >
            <thead
              class="table-borderless"
              style="background: #232c43; color: #fff"
            >
              <tr>
                <th scope="col">Index</th>
                <th scope="col">Book Name</th>
                <th scope="col">Author</th>
                <th scope="col">Copies Available</th>
                <th scope="col">Category</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(book, i) in books" :key="i">
                <td>{{ i }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.copies }}</td>
                <td>{{ book.category.category }}</td>
                <td>
                  <a href="#" v-on:click="edit(book)"><i class="fas fa-edit"></i></a>
                  <a
                    href="#"
                    @click.prevent="showBorrowModal(book, i); "
                    ><i class="fas fa-handshake"></i
                  ></a>
                  <a href="#" @click.prevent="showReturnModal(book, i); "><i class="fas fa-box-open"></i></a>
                  <a href="#" v-on:click="deleteBook(book.id)"
                    ><i class="fas fa-minus-circle" style="color: red"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "BookManagement",
  data() {
    return {
      index: '',
      book: {
        id: 0,
        name: "",
        author: "",
        copies: 0,
        category_id: 0,
        category: {
          id: 0,
          category: "",
        },
      },
      bookBorrowed: {
        patron_id: 0,
        copies: 0,
        book_id: 0,
      },
      bookReturned: {
        book_id: 0,
        copies: 0,
        patron_id: 0,
      },
      patronList: [],
      selectedPatron: "",
      search: "",
    };
  },
  computed: {
    ...mapGetters({
      books: "books/getBooks",
      borrowedBooks: "borrowed/getBorrowedBooks",
      categories: "categories/getCategories",
      patrons: "patrons/getPatrons",
    }),
  },
  methods: {
    ...mapActions("books", {
      allBooks: "fetchBooks",
      create: "createBook",
      update: "updateBook",
      delete: "deleteBook",
    }),
    ...mapActions("borrowed", {
      allBorrowed: "fetchBorrowedBooks",
      borrow: "borrowedBook",
    }),
    ...mapActions({
      allCategories: "categories/fetchCategories",
      allPatrons: "patrons/fetchPatrons",
      returned: "returned/returnedBook",
    }),
    showBorrowModal: function (book, i){
        this.index = i
        this.bookBorrowed.book_id = book.id
        document.getElementById('borrowmodal').style.display = 'block'
    },
    showReturnModal: function (book, i){
        this.index = i
        this.bookReturned.book_id = book.id
        document.getElementById('returnmodal').style.display = 'block'
    },
    borrowBook: function(){
        this.borrow({borrow: this.bookBorrowed, index: this.index})
        document.getElementById('borrowmodal').style.display = 'none'
    },
    returnBook: function(){
        this.returned({returned: this.bookReturned, index: this.index})
        document.getElementById('returnmodal').style.display = 'none'
    },
    addBook: function () {
      this.create(this.book);
      this.clearFields();
      document.getElementById("modal").style.display = "none";
    },
    edit: function (book) {
      document.getElementById("editmodal").style.display = "block";
      this.book = { ...book };
    },
    deleteBook: function (index) {
      if (confirm("Are you sure you want to delete this book?")) {
        this.delete(index);
      }
    },
    updateBook: function () {
      this.update(this.book);
      this.clearFields();
      document.getElementById("editmodal").style.display = "none";
    },
    clearFields() {
      this.book = {
        id: 0,
        name: "",
        author: "",
        copies: 0,
        category_id: 0,
        category: {
          id: 0,
          category: "",
        },
      };

      this.bookBorrowed = {
        patron_id: 0,
        copies: 0,
        book_id: 0,
      };

      this.patronList = [];
      this.selectedPatron = "";
    },
  },
  created() {
    this.allBooks();
    this.allBorrowed();
    this.allCategories();
    this.allPatrons();
  },
};
</script>
<style>
@import "../../assets/css/style.css";
</style>